body {
	font-family: Fredoka One, audiowide, courier, courier new;
	color: rgba(255, 255, 255, 0.875);
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, #44AA55, #227733);
	margin: 0;
	min-height: 101%;
	text-align: center;
	background-repeat: no-repeat;
	justify-content: space-around;
	margin-bottom: 2cm;
}

html {
	min-height: 101%;
	margin: 0;
}

ul.navi-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;
	position: fixed;
	border: none;
	top: 0;
	left: 0;
	right: 0;
}

li.navi-bar, li.dropdown {
	float: left;
}

.dropbtn, li.navi-bar {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	border-radius: 0;
	text-decoration: none;
	background-image: none;
	margin: 0;
	border: none;
}

.dropdown:hover .dropbtn {
	background-color: #227733;
}

li.navi-bar:hover {
	background-color: #227733;
}

.dropdown-content {
	display: none;
	position: fixed;
	background-color: black;
	width: 140px;
	z-index: 1;
	font-size: 15px;
	text-align: center;
}

.dropdown-content span {
	display: inline-block;
	color: white;
	padding: 14px 16px;
	background-color: black;
	min-width: 140px;
	text-decoration: none;
	border: none;
	text-align: left;
	margin: 0;
}

.dropdown-content span:hover {
	background-color: #115522;
}

.dropdown:hover .dropdown-content {
	display: block;
}

h1 {
	color: white;
	text-align: center;
	font-size: 300%;
	margin-top: 3cm;
}


h2 {
	font-size: 35px;
	padding: 0;
	margin: 0.25cm;
	color: #1d1d1d;
}

p {
	font-size: 20px;
}