.piece {
    filter: drop-shadow(0px 0px 10px #111);
    cursor: pointer;
    height: 6vh;
}

.piece.black {
    color: var(--black-piece-color);
}

.piece.white {
    color: var(--white-piece-color);
}

.piece.danger {
    filter: drop-shadow(0 0 25px var(--danger-piece-shadow));
}

.piece.active {
    filter: drop-shadow(0 0 15px var(--active-piece-shadow));
}