body {
	font-family: Fredoka One, audiowide, courier, courier new;
	color: rgba(255, 255, 255, 0.875);
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, #BB00FF, #9E00FF, #8000FF, #6200FF,#4400FF);
	margin: 0;
	min-height: 100%;
	text-align: center;
	background-repeat: no-repeat;
}

html {
	min-height: 100%;
}

ul.navi-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

li.navi-bar, li.dropdown {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	border-radius: 0;
	text-decoration: none;
	background-image: none;
	margin: 0;
	border: none;
}

.dropdown:hover .dropbtn {
	background-color: #7100FF;
}

li.navi-bar a:hover {
	background-color: #7100FF;
}

.dropdown-content {
	display: none;
	position: fixed;
	background-color: black;
	width: 140px;
	z-index: 1;
	font-size: 15px;
}

.dropdown-content a {
	color: white;
	padding: 14px 16px;
	background-color: black;
	min-width: 140px;
	text-decoration: none;
	border: none;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #6200FF;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.example {
	text-align: left;
	font-family: Source code pro, courier, courier new;
	margin: 0.5cm;
	padding: 0.5cm;
	font-size: 15px;
	overflow-wrap: break-word;
}

.flex-container {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-item {
	text-align: center;
	padding: 0.5cm;
	color: black;
	margin: 0.5cm;
	font-size: 130%;
	flex-basis: 33%;
	min-width: 200px;
	max-width: 800px;
}

h1 {
	color: white;
	text-align: center;
	font-size: 300%;
	margin-top: 3cm;
}
 
a {
	color: black;
}

address div {
	text-align:center;
	border-style: solid none;
	border-color: white;
	border-width: 1px;
}

address {
	margin: 2cm;
}

pre {
	font-family: Source Code Pro;
}

h2 {
	color: white;
	font-size: 35px;
	padding: 0;
	margin: 0.25cm;
	color: #1d1d1d;
}

h3 {
	color: powderblue;
	text-shadow: none;
}

button {
	background-color: #1d1d1d;
	color: rgba(255, 255, 255, 0.875);
	margin: 0.5cm 0cm;
	border-radius: 5px;
}

p {
	font-size: 20px;
}