body, html {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 161px;
    height: 270px;
    border-radius: 20px;
    background-image: url('../../../Website/D-EFFEKKT/Images/Band/Silas.png');
    position: relative;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
    cursor: pointer;
    transition: all 0.3s;
}

.card_box:hover {
    transform: scale(0.9);
}

.card_box span {
    position: absolute;
    overflow: hidden;
    width: 100px;
    height: 100px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_box span::before {
    content: 'Silas';
    position: absolute;
    width: 150%;
    height: 30px;
    background: linear-gradient(45deg, #ff6547 0%, #ffb144 51%, #ff7053 100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.card_box span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 7.5px;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 82.5px -82.5px #cc3f47;
    background: linear-gradient(45deg, #ff512f 0%, #f09819 51%, #ff512f 100%);
}