#board-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}

table {
    height: 64vh;
    width: 64vh;
    border-collapse: collapse;
    box-shadow: 3px 3px 100px black;
    border-radius: 10px;
    overflow: hidden;
}

.row {
    display: flex;
    height: 8vh;
    width: 64vh;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 8vh;
}

tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
    background-image: var(--default-secondary-field-color);
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background-image: var(--default-primary-field-color);
}
