:root {
    --default-primary-field-color: radial-gradient(#fff, #ccc);
    --default-secondary-field-color: radial-gradient(#282828, #000);
    --possible-primary-field-color: radial-gradient(#1aa431, #dfd);
    --possible-secondary-field-color: radial-gradient(#1a7431, #282828);
    --black-piece-color: #444;
    --white-piece-color: #bbb;
    --danger-piece-shadow: #ff2000;
    --active-piece-shadow: #00A0FF;
}