table {
    border: solid 2px black;
    margin: 1cm auto;
    border-collapse: collapse;
    background-color: #bbbbbb;
    box-shadow: 2px 2px 5px black;
    color: black;
}

td {
    min-width: 10mm;
    min-height: 10mm;
    font-size: 30px;
    padding: 5mm;
    margin: 0;
}

.table_btn {
    color: black;
    border: 0;
    background-color: #bbbbbb;
    min-height: 10mm;
    min-width: 10mm;
    margin: 0;
    padding: 5mm;
    border-radius: 0;
    font-family: Fredoka One;
    font-size: 30px;
}

.filterTable {
    background-image: linear-gradient(to bottom right, #bb00ff, #4400ff);
    border: solid 5px black;
    cursor: pointer;
}

.filterTD {
    background-color:rgba(20, 20, 20, 0.5);
}

img {
    max-height: 10mm;
}

.table_btn:hover {
    cursor: pointer;
}

td.table_btn {
    padding: 0;
}

td p {
    margin: 0;
}

th {
    padding: 5mm;
    font-size: 35px;
}

#WwN:hover {
    background-color: rgba(20, 20, 20, 0.2);
}

#GwN {
    background-color: #7100ff;
}

#GwN:hover {
    background-color: #5100ee;
}

#BwN {
    background-color: #9999DD;
}

#BwN:hover {
    background-color: #8989cd;
}

td input {
    height: 10mm;
    width: 40mm;
}

#height, #width {
    background-color: #0d0d0d;
    color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-family: Fredoka One;
    text-align: right;
}

#validHeight, #validWidth {
    font-size: 17px;
    color: #CC0000;
}