<div class="board">
    {{#each rows}}
        <div class="row">
            {{#each fields}}
                <div class="field --piece-{{piece}}"></div>
            {{/each}}
        </div>
    {{/each}}
</div>