* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html {
    min-height: 100vh;
}

section {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section#A {
    background-image: url('../assets/cat-8130334_1920.jpg');
    color: #bb7b42;
}

section#B {
    background-image: url('../assets/milkyway-8190232_1920.jpg');
    color: white;
}

h1 {
    font-size: 96px;
}